language: python
python:
  - "2.7"
  - "3.4"
env:
  - DJANGO_VERSION=1.4.19
  - DJANGO_VERSION=1.5.12
  - DJANGO_VERSION=1.6.10
  - DJANGO_VERSION=1.7.4
matrix:
  exclude:
    - python: "3.4"
      env: DJANGO_VERSION=1.4.19
install:
  - pip install -e .
  - pip install django==$DJANGO_VERSION
  - pip install selenium
  - pip install coveralls
before_script:
  - python manage.py collectstatic --link --noinput
script:
  - coverage run manage.py test locking
after_success:
  coveralls
