/* Change List */
.locking-status.locked,
.locking-status.editing {
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px auto 0 auto;
    background: transparent url('../img/icons.svg') no-repeat 0 0;
    background-size: 100%;
}
.locking-status.locked {
    cursor: pointer;
}
.locking-status.locked:hover {
    background-position-y: -16px;
}
.locking-status.editing {
    background-position-y: -36px;
    cursor: default;
    position: relative;
    left: 1px;
}
.locking-status.unlocked {
    display: none;
}

/* Change Form */
#locking-warning {
    padding: 10px 35px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 18px;
    position: relative;
    margin-bottom: 5px;
}
#grp-content #locking-warning {
    float: none;
    padding: 10px;
}

#locking-take-lock {
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}